@import "/src/breakpoints/breakpoints.scss";
//Переменные  SASS для компонента Header
$text-color: #fff;

header {
    background: linear-gradient(to bottom right, #345c95, #377a93);
    box-shadow: 2px 5px 9px -5px rgba($color: #000000, $alpha: 1.0);
}

.header_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
    padding: 15px 0;

    @include media ("<=iPhonePlus") {
        display: block;
    }

}

.navbar_brand {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media ("<=iPhonePlus") {
        padding: 0 10px;
        justify-content: start;
    }

    .app_logo {
        margin-right: 20px;
    }

    img {
        width: 65px;
        height: 65px;
        margin: 5px;
    }
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: $text-color;

    @include media ("<=iPhonePlus") {
        font-size: 16px;
    }
}

.links {
    margin-right: 0;
    padding-top: 15px;

    #slide_nav_button {
        display: none;
        position: absolute;
        right: 25px;
        top: 36px;
        color: $text-color;
        font-size: 20px;

        @include media ("<=iPhonePlus") {
            display: block;
            cursor: pointer;
            &:hover {
                color: #000;
            }
        }
    }

    .navbar ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        @include media ("<=iPhonePlus") {
            justify-content: flex-end;
        }

        :hover {
            color: #000000;
            text-decoration: underline;
        }

        a {
            text-decoration: none;
            font-size: 18px;
            margin: 20px;
            color: $text-color;
        }
    }
}