@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import "./scss/breakpoints/breakpoints.scss";


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  transition: all 0.2s;
}

html, 
body{
  height: 100%;
  width: 100%;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom right, #526cb7, #56cfae);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0 auto;
}
@include media ("<=LGdesktop") {
  .container {
    max-width: 1240px;
  }
}
@include media ("<=desktop") {
  .container {
    max-width: 1100px;
  }
}
@include media ("<=SLdesktop") {
  .for_page .container {
    max-width: 900px;
  }
}
@include media ("<=tablet") {
  .for_page .container {
    max-width: 700px;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 143px;
  @include media ("<=tablet") {
    display: block;
  }
  @include media ("<=SLdesktop") {
    justify-content: space-around;
  }
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}